/* 
   Code below was created by TGRush and is used under the GPL-3 License
   https://codeberg.org/TGRush/beeper-tweaks/src/branch/main/header-online.css
*/

.bp_LeftPanel {
    display: grid;
    grid-template:
    "header search"
    "chats chats"
    "forward forward"
    "fwd-btn fwd-btn";

    grid-template-columns: 30% 70%;
    grid-template-rows: 50px auto min-content min-content;
    align-items: center;
}

/* Help, Settings, DND Header */
.bp_LeftPanel > *:nth-child(1) {
    width: fit-content;
    height: min-content;
    grid-area: header;
    align-self: start;
}

/* Searchbar & Pen icon */
.bp_LeftPanel > *:nth-child(2) {
    width: fit-content;
    height: min-content;
    grid-area: search;
}

/* Chats (favorites and inbox) */
.bp_LeftPanel > *:nth-child(3) {
    grid-area: chats;
}

.bp_LeftPanel:has(div:nth-child(4) > * > .mx_EventTile_messageOut) {
    display: grid;
    grid-template:
        "header search"
        "chats chats"
        ". .";
    grid-template-columns: fit-content 70%;
    grid-template-rows: 50px auto min-content;
}

/* "Forward Message" text */
.bp_Header + div > p {
    display: none;
}

/* My code */

/* Set icon to stay in one place */
.bp_TitleBar ~ .mx_MatrixChat > div:nth-child(1) > div:nth-child(1) {
    position: absolute;
    top: 8px;
    left: 12px;
    z-index: 2;
}
/* Align Chat app sidebar */
.bp_TitleBar ~ .mx_MatrixChat > div:nth-child(1) > div:nth-child(2) {
    margin-top: 8px;
}

/* Remove padding if sidebar is open */
div.noselect:first-of-type:not([class$="noselect"]) ~ .bp_LeftPanel > div:nth-child(1) {
    padding: 0;
    transition: all 0.1s linear;
}

/* Add margin if sidebar is closed */
div.noselect:first-of-type[class$="noselect"] ~ .bp_LeftPanel > div:nth-child(1) {
    margin-left: 33px;
    transition: all .1s linear;
}

/* Set min width for side panel */
/* Prevents searchbar getting smushed */
.bp_LeftPanel {
    min-width: 350px;
    container-type: inline-size;
}

/* Searchbar & Pen icon */
.bp_LeftPanel > *:nth-child(2) {
    width: auto;
    margin-left: -3cqw;
    transition: all .2s linear;
}

/* Resize by Container */
@container (min-width: 375px) {
    .bp_LeftPanel > *:nth-child(2) {
        margin-left: -4cqw;
    }
}

@container (min-width: 400px) {
    .bp_LeftPanel > *:nth-child(2) {
        margin-left: -7cqw;
    }
}

@container (min-width: 450px) {
    .bp_LeftPanel > *:nth-child(2) {
        margin-left: -10cqw;
    }
}

@container (min-width: 500px) {
    .bp_LeftPanel > *:nth-child(2) {
        margin-left: -14cqw;
    }
}

/* Fix Forwarding menu*/

.bp_Header + div > p {
    display: none !important;
}

.bp_Header:has(+ div p) {
    margin-left: 6.66px !important;
}

.bp_LeftPanel > *:nth-child(4){
    display: flex;
    grid-area: forward;
    min-height: fit-content;
    min-width: auto;
    grid-column: 1 / 3;
    grid-row: 3;
}

.bp_LeftPanel > *:nth-child(5) {
    display: flex;
    grid-area: fwd-btn;
    min-height: fit-content;
    min-width: auto;
    grid-column: 1 / 3;
    grid-row: 4;
}

.bp_LeftPanel:has(div:nth-child(4) > * > .mx_EventTile_messageOut) > *:nth-child(2) ~ .bp_LeftPanel_contentWrapper--search {
    --offset: -98% !important;
}

/* Fix Chat App menu button */
.bp_TitleBar ~ .mx_MatrixChat > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    padding: 5px;
    width: 30px;
}

.bp_TitleBar ~ .mx_MatrixChat > div:nth-child(1) > div:nth-child(1) {
    width:35px;
}
