/* 
   Code below was created by TGRush and is used under the GPL-3 License
   https://codeberg.org/TGRush/beeper-tweaks/src/branch/main/header-online.css
*/

.bp_LeftPanel {
    display: grid;
    grid-template:
    "header search"
    "chats chats";

    grid-template-columns: 30% 70%;
    grid-template-rows: 50px auto;
    align-items: center;
}

/* Help, Settings, DND Header */
.bp_LeftPanel > *:nth-child(1) {
    width: fit-content;
    height: min-content;
    grid-area: header;
    align-self: start;
}

/* Searchbar & Pen icon */
.bp_LeftPanel > *:nth-child(2) {
    width: fit-content;
    height: min-content;
    grid-area: search;
}

/* Chats (favorites and inbox) */
.bp_LeftPanel > *:nth-child(3) {
    grid-area: chats;
}

.bp_LeftPanel:has(div:nth-child(4) > * > .mx_EventTile_messageOut) {
    display: grid;
    grid-template:
        "header search"
        "chats chats"
        ". .";
    grid-template-columns: fit-content 70%;
    grid-template-rows: 50px auto min-content;
}

/* "Forward Message" text */
.bp_Header + div > p {
    display: none;
}

/* My code */

/* Set icon to stay in one place */
.bp_TitleBar ~ .mx_MatrixChat > div:nth-child(1) > div:nth-child(1) {
    position: absolute;
    top: 8px;
}

/* Remove padding if sidebar is open */
div.noselect:first-of-type:not([class$="noselect"]) ~ .bp_LeftPanel > div:nth-child(1) {
    padding: 0;
    transition: padding 0.1s linear;
}

/* Add margin if sidebar is closed */
div.noselect:first-of-type[class$="noselect"] ~ .bp_LeftPanel > div:nth-child(1) {
    margin-left: 33px;
    transition: margin-left .1s linear;
}

/* Set min width for side panel */
/* Prevents searchbar getting smushed */
.bp_LeftPanel {
    min-width: 350px;
}

/* Searchbar & Pen icon */
.bp_LeftPanel > *:nth-child(2) {
    width:auto;

}
